body {
    font-family: Arial, sans-serif;
    background-color: #e7e7e7;
}
a:link {
    color: #102a3f;
}
a:visited {
    color: #102a3f;
}
a:hover {
    color: hotpink;
}
a:active {
    color: hotpink;
}