body {
    font-family: Arial, sans-serif;
    background-color: #e7e7e7;
}
.form-container {
    background-color: white;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    display: block; /* Hidden by default */
}
.form-container h2 {
    text-align: center;
}
.form-container label {
    font-weight: bold;
}
.form-container select,
.form-container input[type="number"],
.form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    font-size: 16px;
    border: 1px solid #ccc;
}
button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    font-size: 16px;
    border: 1px solid #ccc;
}
#result {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
.time-input {
    display: flex;
    gap: 10px;
}
.time-input input {
    width: calc(33% - 7px);
}



