.form-container {
    background-color: #ccc;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 500px;
    margin: 0 auto;
    display: block; 
}
.form-container h2 {
    text-align: center;
}
.form-container label {
    font-weight: bold;
}
.form-container select,
.form-container input[type="number"],
.form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    font-size: 16px;
    border: 1px solid #ccc;
}
button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: rgb(84, 190, 255);
}
#result {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
.time-input {
    display: flex;
    gap: 10px;
}
.time-input input {
    width: calc(33% - 7px);
}
.course-container {
    display: flex;
    gap: 10px; 
}
.course-container .course {
    width: 50%;
}




