body {
    color: #ccc;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    background-color: #ccc;
    color: black;
}
th {
    background-color: #ccc;
}
select {
    width: 200px;
    padding: 5px;
    box-sizing: border-box;
}
.controls {
    margin-bottom: 20px;
    padding: 5px;
    color: white;
}
h1 {
    padding: 5px;
    color: white;
}
h2 {
    padding: 5px;
    color: white;
}
label {
    color: white;
    margin: 20px;
}